<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CornerKart: Local Market Place</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/cstyles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body style="background: rgb(249,248,248);">

    <!-- Pincode Modal Starts -->
    <%if(pincode===undefined){%>
    <script>
        function showModal() {
            $('#staticBackdrop').modal('show');
        }

        $(window).on('load', function () {
            $('#staticBackdrop').modal('show');
        });
    </script>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top:5%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title" id="staticBackdropLabel">ENTER YOUR PINCODE</h4>
                </div>
                <div class="modal-body" style="margin-top:3%;">
                    <form class="needs-validation" action="/" method="post" novalidate>
                        <div class="row g-2">
                            <div class="col col-auto">
                                <input type="text" class="form-control form-custom form-control-md search-bar-input"
                                    placeholder="Ex: 444000" name="pincode" value="" required pattern="^[1-9][0-9]{5}$" maxlength="6">
                                    <div class="invalid-feedback">
                                      Enter a valid pincode.
                                    </div>
                            </div>
                            <div class="col col-auto">
                                <button type="submit" class="btn btn-warning btn-md">Submit</button>
                            </div>
                        </div>
                        <div class="row">
                            <p style="margin-top:3%;color:grey;font-size:1.1rem;">* Products will be shown which are
                                available in this Pincode
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%}%>
            <!-- Pincode Modal Ends -->


            <div class="text-nowrap">
                <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="padding-bottom: 0px;">
                    <div class="dropdown ">
                        <button class="btn btn-outline-warning dropdown-toggle pincode-dropdown pincode-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-map-marker-alt" style="margin-right: 8px;margin-left: 2px;"></i><%=pincode%>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/changePincode">Change Pincode</a></li>
    </ul>
    </div>
    <%if(loggedIn == false){%>
    <a class="btn btn-light action-button desktop-hidden" role="button"
        style="font-size: 20pxs;background-color: #ffbf00;margin-top: 0px;" href="/login">Login or Signup</a>
    <%}else{%>
    <div class="dropdown desktop-hidden user-dropdown-menu">
        <button class="btn btn-outline-warning dropdown-toggle user-dropdown" type="button" style="color:black"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%=user.cName%>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <!-- <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a></li> -->
            <li><a class="dropdown-item" href="/myorders"><i class="fas fa-shopping-bag"></i> My Orders</a></li>
            <li><a class="dropdown-item" href="/mywishlist"><i class="fas fa-heart"></i> My Wishlist</a></li>
            <li>
                <form action="/logout-customer?_method=DELETE" method="post"><button type="submit"
                        class="btn dropdown-item" style="margin:0"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </form>
            </li>
        </ul>
    </div>
    <%}%>

                                <div class="container" style="margin-left:0">
                                    <a class="navbar-brand expand" href="/"><button class="btn btn-link" type="button" style="background-color: rgba(0,123,255,0);"><img style="max-width: 170px;height: 55px;" src="./images/logo.png"></button></a>
                                    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                                    <div class="collapse navbar-collapse d-xl-flex justify-content-xl-center" id="navcol-1">
                                        <ul class="navbar-nav me-auto catagory-div">
                                            <li class="nav-item">
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="color:black;">
                    Categories
                  </button>
                                                    <ul class="dropdown-menu dropdown-menu-cat" style="width: 300%;" id="category_dropdown" aria-labelledby="dropdownMenuButton2">
                                                        <div class="row">
                                                            <div class="col-md-6" id="catDiv1">

                                                            </div>
                                                            <div class="col-md-6" id="catDiv2">

                                                            </div>
                                                        </div>
                                                    </ul>
                                                </div>

                                            </li>
                                            <li class="nav-item"></li>
                                        </ul>
                                        <!-- <ul class="navbar-nav me-auto desktop-hidden">
                        <li class="nav-item"><a class="nav-link active" style="height: 44px;font-size: 20px;margin-top: -15px; display:none;" href="#"><i class="fas fa-shopping-cart"></i>&nbsp;Cart</a></li>
                    </ul> -->

                                        <!-- <div class="row padMar"> -->
                                        <div class="col text-start padMar">
                                            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

                                            <div class="wrapper">
                                              <form class="" action="/searchtag" method="post">
                                                <div class="searchBar">
                                                    <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search Products" value="" />
                                                    <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
    <svg style="width:24px;height:24px;" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
    </svg>
  </button>
                                                </div>
                                                <!-- </div> -->
                                                </form>
                                            </div>
                                        </div>
                                        <form class="d-sm-block me-auto" target="_self">
                                            <div class="form-group mb-3"><label class="form-label" for="search-field"></label></div>
                                        </form>
                                        <!-- <ul class="navbar-nav me-auto mob-hidden">
                        <li class="nav-item"><a class="nav-link active" style="height: 44px;font-size: 20px;margin-top: -15px;display:none;" href="#"><i class="fas fa-shopping-cart"></i>&nbsp;Cart</a></li>
                    </ul> -->

                                        <%if(loggedIn == false){%>
    <span class="navbar-text actions">
        <a class="btn btn-outline-warning action-button mob-hidden" role="button"
            style="font-size: 20pxs;background-color: #ffbf00;margin-top: 0px;" href="/login">Login or Signup</a>
    </span>
    <%}else{%>
    <div class="dropdown mob-hidden user-dropdown-menu" style="font-size:1.2rem">
        <button class="btn dropdown-toggle user-dropdown" style="color:black" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <%=user.cName%>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <!-- <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a></li> -->
            <li><a class="dropdown-item" href="/myorders"><i class="fas fa-shopping-bag"></i> My Orders</a></li>
            <%if(loggedIn == true){%>
                <li><a class="dropdown-item" href="/mywishlist"><i class="fas fa-heart"></i> My Wishlist</a></li>
            <%}%>
            <li>
                <form action="/logout-customer?_method=DELETE" method="post"><button type="submit"
                        class="btn dropdown-item" style="margin:0"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </form>
            </li>
        </ul>
    </div>
    <%}%>
                                    </div>
                                </div>
                </nav>
            </div>
            <section id="carousel">
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item" data-interval="1000">
                            <a class="plat" href="/productListBySub/3000088">
                                <div class="bg-light border rounded border-light pulse animated hero-nature-1 carousel-hero jumbotron py-5 px-4">
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item" data-interval="1000">
                            <a class="plat" href="/productList/2000016">
                                <div class="bg-light border rounded border-light pulse animated hero-nature-2 carousel-hero jumbotron py-5 px-4">
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item" data-interval="1000">
                            <a class="plat" href="/productList/2000001">
                                <div class="bg-light border rounded border-light pulse animated hero-nature-3 carousel-hero jumbotron py-5 px-4">
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item active" data-interval="1000">
                            <a class="plat" href="/">
                                <div
                                    class="bg-light border rounded border-light pulse animated hero-nature-4 carousel-hero jumbotron py-5 px-4">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1"
                            role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>

                </div>
            </section>
            <section>
                <div id="myOverlay" class="overlay"><span class="closebtn" style="color: #9baabf;" onclick="closeSearch()" title="Close Overlay">X</span>
                    <div class="overlay-content">
                        <form action="/action_page.php"><input class="form-control form-custom" type="text" placeholder="Search.." name="Search"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></form>
                    </div>
                </div>
            </section>

            <% if (pincode!=undefined){%>
    <div class="bootstrap_cards2">
        <div class="container py-5 ">

            <header class="text-center mb-5">
                <h1 class="display-4 font-weight-bold">Explore Products</h1>
            </header>

            <!-- First Row [Products]-->
            <h2 class="font-weight-bold mb-2 px-3" style="padding-bottom: 2%;">Top selling products</h2>


                <div class="mob-hidden arrows-left">
                    <button id="slideBack" style="height: 80px;margin-left:-35%;" class="btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-left"></i></button>
                </div>
                <div class=" mob-hidden arrows-right">
                    <button id="slide" style="height: 80px;margin-left:110%;" class=" btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-right "></i></button>
                </div>
<div class="container">
                <div id="rows" class="row cards-row">

                    <!-- Card 1-->
                    <%rows6.forEach(function(row){%>
                    <div class="card cards">
                        <a href="/productDetails/<%=row.product_id%>" class="stretched-link"></a>
                        <div class="card-body ">
                            <img src="https://firebasestorage.googleapis.com/v0/b/cornerkart-cd3d7.appspot.com/o/<%=row.pPhotoId%>?alt=media "
                                alt=" " style="width:250px; height:300px; object-fit:contain;"
                                class="img-fluid d-block mx-auto mb-3 ">
                            <div style="height: 75px;text-align: center;">
                                <h5 class="card-title">
                                    <%=row.pBrand%>
                                    <%=row.pName%>
                                </h5>
                            </div>
                            <div>
                                <p style="margin-top:10px;text-align: center;">MRP ₹
                                    <%=row.pMRP%><i class="fas fa-hand-holding-medical"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% });%>
                </div>

            </div>


            <!-- Second Row [Team]-->
            <h2 class="font-weight-bold mb-2 px-3 headings-cards">Pocket savers</h2>

                <div class="mob-hidden arrows-left">
                    <button id="slideBack2" style="height: 80px;width:35px;margin-top: 100%;margin-left:-35%;"
                        class="btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-left"></i></button>
                </div>
                <div class=" mob-hidden arrows-right">
                    <button id="slide2" style="height: 80px;width:35px;margin-top: 100%;margin-left:110%;"
                        class=" btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-right "></i></button>
                </div>
  <div class="container">
                <div id="rows2" class="row cards-row">


                    <% rows.forEach(function(row){ %>
                    <div class="card cards">
                        <a href="/productDetails/<%=row.pId%>" class="stretched-link"></a>
                        <div class="card-body ">

                            <img src="https://firebasestorage.googleapis.com/v0/b/cornerkart-cd3d7.appspot.com/o/<%=row.pPhotoId%>?alt=media "
                                alt=" " style="width:250px; height:300px; object-fit:contain;"
                                class="img-fluid d-block mx-auto mb-3 ">
                            <div style="height: 75px;text-align: center;">
                                <h5 class="card-title">
                                    <%=row.pBrand%>
                                    <%=row.pName%>
                                </h5>
                            </div>

                            <div>
                                <p style="margin-top:10px;text-align: center;"><span
                                        style="font-size: 1.3rem;color:#048f83">Save upto <%=row.difference%>%</span> on
                                    ₹
                                    <%=row.pMrp%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%})%>


                </div>
            </div>

            <!-- Banner -->
            <div class="row pb-5 mb-4 banner-1">
                <div class="small-banner-card">
                    <a href="/productListBySub/3000097">

                    <img src="./images/banners/headphones.png" height="200px" class="card-img-bottom small-banner" alt="... ">
                </a>
                </div>
            </div>
            <!-- Covid-->
            <h2 class="font-weight-bold mb-2 headings-cards px-3"> We care about your safety </h2><i
                class="fas fa-hand-holding-medical"></i>
            <div class="container">
                <div class="mob-hidden arrows-left">
                    <button id="slideBack3" style="height: 80px;width:35px;margin-top: 100%;margin-left:-35%;"
                        class="btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-left"></i></button>
                </div>
                <div class=" mob-hidden arrows-right">
                    <button id="slide3" style="height: 80px;width:35px;margin-top: 100%;margin-left:110%;"
                        class=" btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-right "></i></button>
                </div>

                <div id="rows3" class="row cards-row">
                    <% rows2.forEach(function(row){ %>
                    <div class="card cards">
                        <a href="/productDetails/<%=row.pId%>" class="stretched-link"></a>
                        <div class="card-body ">
                            <img src="https://firebasestorage.googleapis.com/v0/b/cornerkart-cd3d7.appspot.com/o/<%=row.pPhotoId%>?alt=media "
                                alt=" " style="width:250px; height:300px; object-fit:contain;"
                                class="img-fluid d-block mx-auto mb-3 ">
                            <div style="height: 75px;text-align: center;">
                                <h5 class="card-title">
                                    <%=row.pBrand%>
                                    <%=row.pName%>
                                </h5>
                            </div>
                            <div>
                                <p style="margin-top:10px;text-align: center;">Lowest Price ₹
                                    <%=row.minPrice%><i class="fas fa-hand-holding-medical"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
            </div>
            <!-- Top Sellers at your locality-->
            <h2 class="font-weight-bold mb-2 headings-cards px-3">SmartPhones </h2>
            <div class="container">
                <div class="mob-hidden arrows-left">
                    <button id="slideBack4" style="height: 80px;width:35px;margin-top: 100%;margin-left:-35%;"
                        class="btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-left"></i></button>
                </div>
                <div class=" mob-hidden arrows-right">
                    <button id="slide4" style="height: 80px;width:35px;margin-top: 100%;margin-left:110%;"
                        class=" btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-right "></i></button>
                </div>

                <div id="rows4" class="row cards-row">

                    <!-- Card 1-->
                    <% rows3.forEach(function(row){ %>
                    <div class="card cards">
                        <a href="/productDetails/<%=row.pId%>" class="stretched-link"></a>
                        <div class="card-body ">
                            <img src="https://firebasestorage.googleapis.com/v0/b/cornerkart-cd3d7.appspot.com/o/<%=row.pPhotoId%>?alt=media "
                                alt=" " style="width:250px; height:300px; object-fit:contain;"
                                class="img-fluid d-block mx-auto mb-3 ">
                            <div style="height: 75px;text-align: center;">
                                <h5 class="card-title">
                                    <%=row.pBrand%>
                                    <%=row.pName%>
                                </h5>
                            </div>
                            <div>
                                <p style="margin-top:10px;text-align: center;">Lowest Price ₹
                                    <%=row.minPrice%><i class="fas fa-hand-holding-medical"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
            </div>
            <!-- Banner -->
            <div class="row pb-5 mb-4 banner-1">
                <div  class="small-banner-card">
                    <a href="/productList/2000020">
                        <img src="./images/banners/fitness.png" height="200px" class="card-img-bottom small-banner"
                        alt="... ">
                    </a>
                </div>
            </div>
            <!-- Top Sellers at your locality-->
            <h2 class="font-weight-bold mb-2 headings-cards px-3">Style your Wardrobe.</h2>
            <div class="container">
                <div class="mob-hidden arrows-left">
                    <button id="slideBack5" style="height: 80px;width:35px;margin-top: 100%;margin-left:-35%;"
                        class="btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-left"></i></button>
                </div>
                <div class=" mob-hidden arrows-right">
                    <button id="slide5" style="height: 80px;width:35px;margin-top: 100%;margin-left:110%;"
                        class=" btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-right "></i></button>
                </div>

                <div id="rows5" class="row cards-row">

                    <!-- Card 1-->
                    <% rows4.forEach(function(row){ %>
                    <div class="card cards">
                        <a href="/productDetails/<%=row.pId%>" class="stretched-link"></a>
                        <div class="card-body ">
                            <img src="https://firebasestorage.googleapis.com/v0/b/cornerkart-cd3d7.appspot.com/o/<%=row.pPhotoId%>?alt=media "
                                alt=" " style="width:250px; height:300px; object-fit:contain;"
                                class="img-fluid d-block mx-auto mb-3 ">
                            <div style="height: 75px;text-align: center;">
                                <h5 class="card-title">
                                    <%=row.pBrand%>
                                    <%=row.pName%>
                                </h5>
                            </div>
                            <div>
                                <p style="margin-top:10px;text-align: center;">Lowest Price ₹
                                    <%=row.minPrice%><i class="fas fa-hand-holding-medical"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%})%>

                </div>
            </div>

            <!-- Third Row [Profiles]-->
            <h2 class="font-weight-bold mb-2 headings-cards px-3">Top Sellers</h2>



            <div class="container">
                <div class="mob-hidden arrows-left">
                    <button id="slideBack6" style="height: 60px;width:35px;margin-top: 90%;margin-left:-35%;"
                        class="btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-left"></i></button>
                </div>
                <div class=" mob-hidden arrows-right">
                    <button id="slide6" style="height: 60px;width:35px;margin-top: 90%;margin-left:110%;"
                        class=" btn btn-outline-secondary btn-sm slide-btn"><i
                            class="fa fa-lg fa-chevron-right "></i></button>
                </div>
                <div class="row cards-row" id="rows6">
                    <!-- card -->
                    <% rows5.forEach(function(row){ %>
                    <div class="card rounded shadow-sm border-0 cards2 ">
                        <div class="card-body p-0 ">
                            <div class="bg-primary px-5 py-4 text-center card-img-top " style="margin-top:2%">
                                <img src="https://firebasestorage.googleapis.com/v0/b/cornerkart-cd3d7.appspot.com/o/<%=row.bPhotoId%>?alt=media "
                                    alt=" " width="100" height="100" style="border:4px solid white;"
                                    class="rounded-circle d-block mx-auto ">


                                <h5 class="text-white mb-0 " style="margin-top: 3%;"><%=row.bName%></h5>
                            </div>
                            <div class="p-4  justify-content-center ">

                                <div style="height:100px">
                                    <p style="text-align:center; font-weight:bold;">Address</p>
                                    <p class="small mb-0 " style="text-align: center;"><%=row.bAddress%></p>
                                    <p class="small mb-0 " style="text-align: center;"><%=row.bCity%></p>
                                </div>
                                <div style="text-align: center;margin-top: 5%;">
                                    <h5 class="font-weight-bold mb-0 d-block "><%=row.count%></h5>
                                        <p style="font-weight: bold;">Total Orders</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>


                </div>
            </div>
        </div>
    </div>
    <%}%>
    <footer id="myFooter">
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12 col-sm-6 col-md-3"><a href="/"><img src="../images/logo.png" style="height: 61px;margin: 62px 0px 0px;margin-top: 70px;"></a></div>
        <div class="col-12 col-sm-6 col-md-2">
            <h5>Get started</h5>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/login">Signup</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <h5>Our Company</h5>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Company Information<br></a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="/business">Be a Seller</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-2">
            <h5>Other Links</h5>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li></li>
                <li></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul><a href="#">Privacy Policy</a>
        </div>
        <div class="col-md-3 social-networks">
            <div></div><a class="facebook" href="https://www.facebook.com/corner.kart.7" target="_blank"><i class="fa fa-facebook"></i></a><a class="twitter" href="https://twitter.com/KartCorner" target="_blank"><i class="fa fa-twitter"></i></a><a class="instagram" href="https://www.instagram.com/cornerkart/" target="_blank"><i class="fa fa-instagram"></i></a><button class="btn btn-primary" style="margin-top:20px;" type="button" href="mailto:cornerkart4@gmail.com">Contact us</button>
        </div>
    </div>
    <div class="row footer-copyright">
        <div class="col">
            <p>Made with <span style="color:yellow;">&nbsp;❤&nbsp;</span> by TP.js</p>
            <p>© 2021 CornerKart</p>
        </div>
    </div>
</div>
</footer>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js ">
            </script>
            <script src="./cIndex.js "></script>
            <script type="text/javascript ">
                $(document).ready(function() {



                    $.ajax({
                        url: "/getCategory",
                        type: "GET",
                        success: function(data) {

                            var len = data.length;

                          
                            $("#catDiv1").empty();
                            $("#catDiv2").empty();

                            for (var i = 0; i < len; i++) {
                                var value2 = data[i]['catId'];
                                var value1 = data[i]['catName'];
                                var str =
                                    "<li><a class='dropdown-item dropdown-item-cat' href='/productList/" +
                                    value2 + "'>" + value1 + "</a></li>";
                                if (i < 11) {
                                    $("#catDiv1").append(str);
                                } else {
                                    $("#catDiv2").append(str);
                                }
                            }
                        }
                    });

                    /*Top selling products list */
                    $.ajax({
                        url: "/getTopSelling",
                        type: "GET",
                        success: function(data) {

                            var len = data.length;

                    
                            $("#catDiv1").empty();
                            $("#catDiv2").empty();

                            for (var i = 0; i < len; i++) {
                                var value2 = data[i]['catId'];
                                var value1 = data[i]['catName'];
                                var
                                    str =
                                    "<li><a class='dropdown-item dropdown-item-cat' href='/productList/" +
                                    value2 + "'>" +
                                    value1 + "</a></li>";
                                if (i < 11) {
                                    $("#catDiv1").append(str);
                                } else {
                                    $("#catDiv2").append(str);
                                }
                            }
                        }
                    });
                });
            </script>
            <script>
                var button = document.getElementById('slide');
                button.onclick = function() {
                    var container = document.getElementById('rows');
                    sideScroll(container, 'right', 5, 350, 11);
                };

                var back = document.getElementById('slideBack');
                back.onclick = function() {
                    var container = document.getElementById('rows');
                    sideScroll(container, 'left', 5, 350, 11);
                };

                var button = document.getElementById('slide2');
                button.onclick = function() {
                    var container = document.getElementById('rows2');
                    sideScroll(container, 'right', 5, 350, 10);
                };

                var back = document.getElementById('slideBack2');
                back.onclick = function() {
                    var container = document.getElementById('rows2');
                    sideScroll(container, 'left', 5, 350, 10);
                };

                var button = document.getElementById('slide3');
                button.onclick = function() {
                    var container = document.getElementById('rows3');
                    sideScroll(container, 'right', 5, 350, 11);
                };

                var back = document.getElementById('slideBack3');
                back.onclick = function() {
                    var container = document.getElementById('rows3');
                    sideScroll(container, 'left', 5, 350, 11);
                };

                var button = document.getElementById('slide4');
                button.onclick = function() {
                    var container = document.getElementById('rows4');
                    sideScroll(container, 'right', 5, 350, 11);
                };

                var back = document.getElementById('slideBack4');
                back.onclick = function() {
                    var container = document.getElementById('rows4');
                    sideScroll(container, 'left', 5, 350, 11);
                };

                var button = document.getElementById('slide5');
                button.onclick = function() {
                    var container = document.getElementById('rows4');
                    sideScroll(container, 'right', 5, 350, 11);
                };

                var back = document.getElementById('slideBack5');
                back.onclick = function() {
                    var container = document.getElementById('rows5');
                    sideScroll(container, 'left', 5, 350, 11);
                };
                var button = document.getElementById('slide6');
                button.onclick = function() {
                    var container = document.getElementById('rows6');
                    sideScroll(container, 'right', 5, 350, 11);
                };

                var back = document.getElementById('slideBack6');
                back.onclick = function() {
                    var container = document.getElementById('rows6');
                    sideScroll(container, 'left', 5, 350, 11);
                };

                function sideScroll(element, direction, speed, distance, step) {
                    scrollAmount = 0;
                    var slideTimer = setInterval(function() {
                        if (direction == 'left') {
                            element.scrollLeft -= step;
                        } else {
                            element.scrollLeft += step;
                        }
                        scrollAmount += step;
                        if (scrollAmount >= distance) {
                            window.clearInterval(slideTimer);
                        }
                    }, speed);
                }
            </script>
            <script>
              // Example starter JavaScript for disabling form submissions if there are invalid fields
              (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                  .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                      if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                      }

                      form.classList.add('was-validated')
                    }, false)
                  })
              })()
            </script>
            <script type="text/javascript">
              $(document).ready(function(){
      
                if(JSON.parse(localStorage.getItem('wish_products')).products.length && <%=loggedIn%>==true){
                  $.ajax({

                      url: "/addToWishlistremote",
                      type: "POST",
                      data: {
                          "wish_products":JSON.parse(localStorage.getItem('wish_products')).products
                      },
                      success: function(data){
                       localStorage.clear();
                
                  }
                });
              }
              });
            </script>

</body>

</html>

</html>
